body {
    background: whitesmoke
}

.equipmentplace {
    font-size: 10px;

    color: black;
    width: 40px;
    margin-right: 5px;
    display: inline-block;
    white-space: normal;
    vertical-align: bottom;
    height: 80%;
    position: relative;
    box-shadow: 2px -2px 2px 2px rgba(0, 0, 0, .2);
    border-radius: 3px;
}


.conveer {
    overflow-wrap: break-word;
    margin: 12px;
    white-space: nowrap;
    text-align: center;
    font-family: Tahoma;
    height: 100px;
    width: 100%;

}

.mob {
    margin: 2px;
    line-height: 10px;
    border: 1px;
    height: 80%;
    text-align: center;
}
.kob {
    margin: 2px;
    line-height: 10px;
    border: 1px;
    text-align: center;
    height: 20%;
    font-weight: bolder;
}

.place {
    background: gainsboro;
    color: black;
    text-align: center;
    height: 20%;
}

.lenta {
    margin: 3px;
    margin-top: 5px;
    text-align: center;
    background: gainsboro;
    width: 100%;
}

.title {
    padding-top: 30px;
    height: 80px;
    background: whitesmoke;
    text-align: center; 
    font-family: Comic Sans MS;
    font-weight: bold;
    position: relative;
}


[data-tooltip] {
    position: relative; /* Относительное позиционирование */
}
[data-tooltip]:after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
   
    left: -100%; top: -100%; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 0.5s; /* Время появления подсказки */

    border-radius: 5px;
} 
[data-tooltip]:hover:after {
    opacity: 1; /* Показываем подсказку */
    top: -80%; /* Положение подсказки */
}
