<!-- slider-area-start -->
<div class="slider-area fix" id="homes">
    <div class="slider">
        <div class="slider-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="slider-content">
                        <a class="wow fadeInUp rounded text-uppercase" data-wow-duration="1s" data-wow-delay="0.75s" href="/Equipment/Kcex2">Оборудование заготовочного цеха</a>
                        <a class="wow fadeInUp rounded text-uppercase" data-wow-duration="1s" data-wow-delay="0.75s" href="/Equipment/OfficeHours">Часы работы для подразделений</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
